<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TMDB API tests">
    <test name="TMDB Auth">
        <classes>
            <class name="org.tmdb.tests.auth.AuthV3Tests"/>
        </classes>
    </test>
    <test name="TMDB Movie">
        <parameter name="movieId" value="550"/>
        <parameter name="rating" value="8.0"/>
        <classes>
            <class name="org.tmdb.tests.movie.MovieTests"/>
        </classes>
    </test>
</suite>
